<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Connection" connectionString="server=127.0.0.1;uid=root;pwd=root;database=mydb" providerName="MySql.Data.MySqlClient" />-->
    <add name="Connection" connectionString="server=.;Database=MyDB;Integrated Security=true;User ID=sa;Password=kafkamurakami" 
		 providerName="Sql.Data.MySqlClient" />
	  
  </connectionStrings>
</configuration>